* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* DIGITAL ONE */

.clock-digital {
    text-align: center;

}

.date {
    font-family: sans-serif;
    font-size: 3rem;

}

.time {
    font-family: "Manufacturing Consent", system-ui;
    font-size: 3rem;
}

/* Analogue one */

.clock-analogue {
    background-color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: relative;
    box-shadow: inset 0 0 3px 1px #333;
    border: 3px solid white;
    overflow: hidden;
}
div[class^="h-"] {
    position: absolute;
    color: #333;
    font-size: 1.2rem;
    font-family: "Monoton", sans-serif;
}
.h-12 {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.h-1 {
    top: 25px;
    right: 26%;
    transform: translateY(-30%);
}

.h-2 {
    top: 50px;
    right: 12%;
    transform: translateY(-30%);
}

.h-3 {
    bottom: 85px;
    right: 0;
    transform: translateX(-50%);
}

.h-6 {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

}

.h-9 {
    bottom: 85px;
    left: 11%;
    transform: translateX(-50%);
}

.h-11 {
    top: 25px;
    left: 25%;
    transform: translateY(-30%);
}

.h-10 {
    top: 50px;
    left: 12%;
    transform: translateY(-30%);
}

.arr {
    position: absolute;
    border-radius: 0 0 3px 3px;
    transform-origin: bottom;
}

.hours {
    background-color: seagreen;
    width: 6px;
    height: 65px;
    top: calc(50% - 65px);
    left: calc(50% - 3px);
}

.minutes {
    background-color: royalblue;
    width: 4px;
    height: 75px;
    top: calc(50% - 75px);
    left: calc(50% - 2px);
}

.seconds {
    background-color: tomato;
    width: 2px;
    height: 85px;
    top: calc(50% - 85px);
    left: calc(50% - 1px);
}

/* POMODORO */

.pomodoro {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.slider {
    background-color: #fff;
    padding: 3px;
    width: 51px;
    border-radius: 11px;
    transition: all 200ms;
}

.dot {
    background-color: tomato;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    transition: all 200ms;
}

.label {
    font-family: sans-serif;
}

.active {
    background-color: tomato;
}

.active .dot {
    background-color: #fff;
    transform: translateX(30px);
}

.work {
    color: tomato;
}

.chill {
    color: limegreen;
}

/* POMODORO Background */

.pomodoro-bg {
    width: 97px;
    height: 97px;
    position: relative;
    transform: rotate(90deg);
    transform-origin: bottom right;
    display: none;
}
.pomodoro-bg > div {
    width: 97px;
    height: 97px;
    background-color: rgb(239, 147, 136);
    position: absolute;
}

.bg1 {
}

div.bg2 {
    transform: rotate(60deg);
    transform-origin: bottom right;
}

.show {
    display: block;
}

/* spongebob */

img {
    position: absolute;
    height: 150px;
    bottom: 0;
    display: none;
  }
