body {
    background-color: rgba(255, 255, 255, 1);
    min-height: auto;
    width: 100%;
    max-width: 1600px;
    margin: 0;
    font-family: "Mulish", sans-serif;
    border: 2px solid black;
}

.navbar{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.topleft {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 13rem;
    gap: 0.8rem;
    
}

.logo {
    background-color: #458FF6;
    color: white;
    font-size: 26px;
    font-weight: bold;
    align-content: center;
    text-align:center;
    height: 41px;
    width: 41px;
    border-radius: 50%;
}

.trafalgar {
    color: #233348;
    font-size: 24px;
    font-weight: bold;

}

.navbar ul{
    width: 100%;
    max-width: 545px;
    height: 23px;
    padding-right: 180px;
    display: flex;
    align-content: center;
    justify-content: center;
    list-style: none;
    color: #1f1534;
    gap: 2rem;
}

.navbar li a{
    color: #1F1534;
    text-decoration: none;
    font-size: 18px;
    opacity: 0.5;
}

.navbar li a:hover {
    color: black;
    opacity: 1;
}

.container-header {
    height: auto;
    gap: 6rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    position: relative;
    overflow: hidden;
}

.footer-ball6 {
    width:  100%;
    max-width: 132px;
    height: 115px;
    position: absolute;
    top: 35px;
    right: 1520px;
    z-index: -1;
}

.trafalgar-header-image {
    width: 100%;
    max-width: 693px;
    height: 598px;
    background:url(Img/e7c8a652b4ff26a094731214f377e182c2504450.png);
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.header-text {
    font-family: "Mulish", sans-serif;
    width: 100%;
    max-width: 445px;
    height: 338px;
    padding-left: 11rem;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    align-self: center;

}

.virtual {
    font-family: "Mulish", sans-serif;
    margin-top: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.pheader {
    font-family: "Mulish", sans-serif;
    color: #7D7987;
    margin-bottom: 2.5rem;
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0%;
}

.consult-today {
    font-family: "Mulish", sans-serif;
    background-color: #458FF6;
    color: #ffffff;
    text-align:center;
    border: 0;
    font-weight:500;
    font-size: 18px;
    letter-spacing: 0.4px;
    width: 200px;
    height: 56px;
    border-radius: 55px;
    cursor: pointer;
}

.sekcija-1 {
    position: relative;
}

.our-services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    z-index: 999;
}

.vektorius-2 {
    position: absolute;
    top: 240px;
    left: 0;
    z-index: -999;
}

.footer-ball5 {
    width:  100%;
    max-width: 132px;
    height: 115px;
    position: absolute;
    top: 571px;
    right: 170px;
    z-index: -1;
}

.services-text {
    justify-content:center;
    align-content: center;
    text-align: center;
    z-index: 999;
}

.h-service {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
}

.rectangle-2 {
    background-color: rgba(0, 0, 0, 1);
    height: 2px;
    width: 56px;
    margin: 20px auto;
    border-radius: 5px;
}

.p-service {
    color: rgba(125, 121, 135, 1);
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    height: 60px;
    margin-top: 2rem;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap:40px;
    margin: 0 auto;
    padding-left: 5.1rem;
    padding-right: 7rem;
    z-index: 999;
}

.blokas {
    background:#ffffff;
    width: 30.3333%;
    min-width: 250px;
    max-width: 350px;
    height: 354px;
    padding: 0;
    border-radius: 20px;
    box-shadow: 5px 20px 25px 10px rgba(229, 233, 246, 0.4);
    text-align: left;
    align-content: center;
}

.search-doctor, .online-pharmacy, .consultation, .details-info, .emergency-core, .tracking {
    padding: 2rem;
}

.tracking {
    padding-bottom: 3rem;
}

.services h3 {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: 0%;
}

.services p {
    color: rgba(125, 121, 135, 1);
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
}

.lupa, .buteliukas, .service-adres, .stat, .lagam, .list {
    height: 90px;

}

.learn-more {
    background: #ffffff;
    color: #458FF6;
    font-family: "Mulish", sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 0%;
    border: 2px solid #458FF6;
    height: 100%;
    max-height: 56px;
    width: 100%;
    max-width: 200px;
    margin-top: 100px;
    border-radius: 55px;
    cursor: pointer;
}

.learn-more:hover {
    background-color: #458FF6;
    color: white;
}

.container-provider {
    height: 477px;
    width: 100%;
    max-width: 1273px;
    gap: 8rem;
    padding-left: 135px;
    margin-top: 218px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    align-items: center;
}

.trafalgar-provider-image {
    width: 100%;
    max-width: 650px;
    height: 477px;
    background:url(Img/trafalgar-illustration\ sec02\ 1.png);
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.provider-text {
    font-family: "Mulish", sans-serif;
    width: 100%;
    max-width: 486px;
    height: 388px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.provider-text .learn-more {
    margin-top: 70px;
}

.healthcare-provider {
    font-family: "Mulish", sans-serif;
    margin-top: 0;
    height: 112px;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
}

.rectangle-3 {
    background-color: rgba(0, 0, 0, 1);
    height: 2px;
    width: 56px;
    border-radius: 10px;
}

.p-provider {
    font-family: "Mulish", sans-serif;
    color: #7D7987;
    height: 120px;
    width:100%;
    max-width: 450px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0%;
}

.download-sekcija {
    height: 1100px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.footer-ball3 {
    position: absolute;
    top: 0px;
    left: 1515px;
}

.container-dowload-app {
    width: 100%;
    max-width: 1365px;
    padding-left: 90px;
    display: flex;
    justify-content: center;
    gap: 75px;
}

.app-text {
    font-family: "Mulish", sans-serif;
    width: 100%;
    max-width: 420px;
    height: 375px;
    margin-top: 33px;
    justify-content: center;
    align-items: center;
}

.mobile-app {
    font-family: "Mulish", sans-serif;
    margin-top: 0;
    height: 112px;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
}

.app-text .rectangle-3 {
    border-radius: 6px;
    position: relative;
    bottom: 5px
}

.p-app {
    font-family: "Mulish", sans-serif;
    color: #7D7987;
    height: 120px;
    width:100%;
    max-width: 420px;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0%;
}

.download {
    background: #ffffff;
    color: #458FF6;
    font-family: "Mulish", sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0%;
    border: 2px solid #458FF6;
    height: 100%;
    max-height: 56px;
    width: 100%;
    max-width: 200px;
    margin-top: 40px;
    border-radius: 55px;
    cursor: pointer;
}

.rodykle {
    height: 15.43px;
    width: 9.82px;
    position: relative;
    top: 23px;
    left: 14px;
}

.trafalgar-app-image {
    width: 100%;
    max-width: 665px;
    height: 434px;
    background:url(Img/trafalgar-illustration\ sec03\ 1.png);
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.container-testimonials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    position: relative;
}

.footer-ball7 {
    width:  100%;
    max-width: 132px;
    height: 115px;
    position: absolute;
    top: 270px;
    left: 185px;
    z-index: -1;
}

.container-testimonials-block {
    background: linear-gradient(to top right, rgba(90, 152, 242, 1), rgba(103, 195, 243, 1));
    width: 100%;
    max-width: 1120px;
    height: 425px;
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content:center;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.footer-ball8 {
    width:  100%;
    max-width: 132px;
    height: 115px;
    position: absolute;
    top: 0px;
    left: 1035px;
    
}

.customer-head {
    color: rgba(255, 255, 255, 1);
    height: 48px;
    margin-top: 70px;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0%;
    align-self: center;
}

.container-testimonials-block .rectangle-3 {
    background-color: rgba(255, 255, 255, 1);
    align-self: center;
}

.testimonial-review {
    width: 100%;
    max-width: 900px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    text-align: left;
    gap: 2rem;
}

.founder-picture {
    background: url(Img/Edward.png);
    width: 100%;
    max-width: 133px;
    height: 133px;
    margin: 0;
    border-radius: 50%;
    border: 5px solid white;
}

.founder-circle {
    display: flex;
    flex-direction: column;
}

.edward {
    color: rgba(255, 255, 255, 1);
    width: 100%;
    max-width: 184px;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
}

.founder{
    color: rgba(255, 255, 255, 0.85);
    height: 48px;
    margin:0;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0;
    position: relative;
    bottom: 10px;
}

.review-text {
    color: rgba(255, 255, 255, 0.9);
    height: 120px;
    text-align: left;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    position: relative;
    left: 75px;
}

.arrows {
    width: 100%;
    max-width: 336.43px;
    height: 19.2px;
    align-self: center;
}

.container-article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 810px;
    padding-top: 200px;
    position: relative;
}

.vektorius-1 {
    position: absolute;
    top: 320px;
    right: 0;
    z-index: -1;
}

.footer-ball4 {
    width:  100%;
    max-width: 132px;
    height: 115px;
    position: absolute;
    top: 318px;
    left: 192px;
    z-index: -1;
}

.article-header {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 0%;
    margin-bottom: 0;
    height: 56px;
}

.container-article .rectangle-3 {
    margin: 20px auto;
}

.container-gallery {
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    margin-top: 20px;
}

.article {
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    width: 100%;
    max-width: 350px;
    height:512px;
    margin-top: 0;
    box-shadow: 5px 20px 25px 10px rgba(229, 233, 246, 0.4);
}

.article div {
    width: 100%;
    max-width: 266px;
    text-align: left;
    padding-left: 2rem;

}

.article h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
}

.article p {
    color: rgba(125, 121, 135, 1);
    height: 84px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
}

.article a {
    color: rgba(64, 137, 237, 1);
    text-decoration: none;
    font-size: 17px;
}

.article a img {
    position: relative;
    left:11px;
}

.container-article .learn-more {
    margin-top: 69px;
    border: 1.4px solid rgba(69, 143, 246, 1);
    font-weight:bolder;
    align-self: center;
    font-weight: 600;
} 

footer {
    width: 100%;
    height:100%;
    padding: 0;
    margin-top: 170px;
    display: flex;
    position: relative;
}

.footer-sekcija {
    background: linear-gradient(to top, rgba(90, 152, 242, 1), rgba(103, 195, 243, 1));
    color: rgba(255, 255, 255, 1);
    height: 432px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;

}

.end-left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 25px;
}

.end-logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 10px;
    padding-bottom: 5px;
}

footer .logo {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(91, 155, 243, 1);
    font-size: 26px;
    font-weight: bold;
    align-content: center;
    text-align:center;
    height: 41px;
    width: 41px;
    border-radius: 50%;
}

footer .trafalgar {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: bold;
    line-height: auto;
    padding-top: 5px;
}

.big-end {
    font-size: 18px;
    font-weight: lighter;
    line-height: 28px;
    letter-spacing: 0%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.small-end {
    font-size: 16px;
    font-weight: lighter;
    line-height: 28px;
    letter-spacing: 0%;
}

.container-end {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 50px;
}

.end {
    width: 33%;
    max-width: 200px;
    text-align: left;
    padding: 0;
    margin-bottom: 60px;
    
}

.end h2{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 0%;
}

.end ul {
    margin-top: 0;
    padding-left: 0;
    font-size: 18px;
    font-weight: lighter;
    line-height: 38px;
    letter-spacing: 0%;
    list-style-type: none;   
    list-style-position: outside;
}

.footer-ball {
    width:  100%;
    max-width: 132px;
    height: 115px;
    position: absolute;
    bottom: 385px;
    right: 100px;
    z-index: -1;
}

.footer-ball2 {
    width:  100%;
    max-width: 132px;
    height: 115px;
    position: absolute;
    top: 337px;
    right: 1490px;
    z-index: 1;
}


















