body {
    background-color: #ffffff;
    height: 955.5vh;
    width: 1600px;
    margin: 0;
    font-family: "Mulish", sans-serif;
    border: 2px solid black;
}

.navbar{
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.topleft {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 13rem;
}

.logo {
    background-color: #458FF6;
    color: white;
    font-size: 26px;
    font-weight: bold;
    align-content: center;
    text-align:center;
    height: 41px;
    width: 41px;
    border-radius: 50%;
}

.trafalgar {
    color: #233348;
    font-size: 24px;
    font-weight: bold;
    width: 30%;

}

.navbar ul{
    width: 545px;
    height: 23px;
    margin-right: 180px;
    display: flex;
    list-style: none;
    text-decoration: none;
    color: #1f1534;
    gap: 2rem;
}

.navbar li a{
    color: #1F1534;
    text-decoration: none;
    font-size: 18px;
    opacity: 0.5;
}

.navbar li a:hover {
    font-weight: bold;
    opacity: 1;
}

.container-header {
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.trafalgar-header-image {
    width: 693px;
    height: 598px;
    margin-right: 150px;
    background:url(Img/e7c8a652b4ff26a094731214f377e182c2504450.png);
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: 1px solid crimson;
}

.header-text {
    font-family: "Mulish", sans-serif;
    width: 445px;
    height: 338px;
    margin-left: 14rem;
    margin-top: 6rem;
    justify-content: center;
    align-items: center;
}

.virtual {
    font-family: "Mulish", sans-serif;
    width: 427px;
    height: 112px;
    margin-top: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.pheader {
    font-family: "Mulish", sans-serif;
    color: #7D7987;
    width: 445px;
    height: 96px;
    margin-bottom: 2.5rem;
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0%;
}

.consult-today {
    font-family: "Mulish", sans-serif;
    background-color: #458FF6;
    color: #ffffff;
    text-align:center;
    border: 0;
    font-weight:500;
    font-size: 18px;
    letter-spacing: 0.4px;
    width: 200px;
    height: 56px;
    border-radius: 55px;
    cursor: pointer;
}