* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-right: auto; /* alternatyva space-between */
}

ul {
    display: flex;
    list-style: none;
}

/* Main */

.section-1, 
.section-2 {
    display: flex;
}

.half, 
.third {
    padding: 30px;
    height: 300px;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.half:last-child {
    /* flex-grow: 2; */
}

/* Footer */

footer {
    padding: 15px;
}

