.table {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
table, th, td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
th {
    background-color: rgb(32, 111, 123);
    border: 1px solid rgb(0, 0, 0);
    color: white;
}


.chartConteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}