
body {
    background-image: url(Img/276.jpg) no-repeat fixed;
    height: 100vh;
    margin: 0;
    
}
.container {
    height: 100%;
    backdrop-filter:blur(0px);
}
.blokas h1{
    color: rgb(125, 43, 43);
}

