
body {
    background-image: url(Img/jura4.png);
    background-size: cover;
    font-family: "Oswald", sans-serif;
}

.konteineris-2 {
    display: inline-block;
    height: 40px;
    gap: 5px;
    font-size: large;
    font-weight: bold;
}


.mygtukai{
    background-image: url(Img/a1.png);
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 8px;
    left: 102px;
    display: none;
}
nav:hover .mygtukai{
    display: block;
}

a:link {
    color: #FFFF00;
    text-decoration: none;
}
a:visited {
    color: #FFFF00;
}

a:hover {
    color: rgb(253, 56, 56);
}

.meniu {
    color: rgb(235, 247, 5);
    background-image: url(Img/a1.png);
    padding: 10px 25px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-family: "Oswald", sans-serif;
    cursor: pointer;
    position: relative;
}
.meniu:hover {
    background-color: rgb(199, 206, 63);
    box-shadow: 0 0 30px;   
}

h1{
    color: #FFFF00;
    background-image: url(Img/a1.png);
    width: 250px;
    border-radius: 5px;
    padding-right: 50px;
    text-align: right;   
}


.konteineris {
    width: 100%;
    font-size: 0;
}

.blokai {
    height: 250px;
    width: 33.3333%;
    min-width: 400px;
    max-width: 400px;
    padding: 40px;
    font-size: 16px;
    border: 3px solid orange;
    box-sizing: border-box;
    display: inline-block;
}

h2 {
    text-align: center;
    position: relative;
}
.madeira {
    display: none;
    position:absolute;
    top: 30px;
    left: 350px;
}
h2:hover .madeira{
   display: block;
}
.azorai {
    display: none;
    position:absolute;
    top: 150px;
    left: 0px;
}
h2:hover .azorai{
   display: block;
}
.azorai {
    display: none;
    position:absolute;
    top: 150px;
    left: 0px;
}
h2:hover .azorai{
   display: block;
}
.azorai {
    display: none;
    position:absolute;
    top: 150px;
    left: 0px;
}
h2:hover .azorai{
   display: block;
}
.azorai {
    display: none;
    position:absolute;
    top: 150px;
    left: 0px;
}
h2:hover .azorai{
   display: block;
}

.lapalma {
    display: none;
    position:absolute;
    top: 150px;
    right: 200px;
}
h2:hover .lapalma{
    display: block;
 }
 .cape {
    display: none;
    position:absolute;
    left: 350px;
    top: -100px;
}
h2:hover .cape{
    display: block;
 }



